.cart-count {
  background-color: #ff0000;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 5px;
}

.navbar-brand {
  font-family: Verdana, Geneva, Tahoma;
  font-size: 24px;
  margin-left: 10px;
}

.navbarLogo {
  width: 35px;
  height: 35px;
}
